
  <form (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <label for="username">Product Name</label>
      <input
        type="text"
        id="username"
        class="form-control"
        ngModel
        name="username"
        required
      />
    </div>
    <div class="form-group">
      <label for="username">Product Price</label>
      <input
        type="text"
        id="product"
        class="form-control"
        ngModel
        name="product"
        required
      />
    </div>
  </form>
